<div id="follow-icons">
	<a href="https://twitter.com/albertoimpl" rel="me" target="_blank"><i class="fa-brands fa-twitter fa-2x"></i></a>
	<a href="https://mastodon.social/@Albertoimpl" rel="me"><i class="fa-brands fa-mastodon fa-2x"></i></a>
	<a href="https://ie.linkedin.com/in/albertocallejarios/en" rel="me" target="_blank"><i class="fa-brands fa-linkedin fa-2x"></i></a>
	<a href="https://github.com/albertoimpl" rel="me" target="_blank"><i class="fa-brands fa-github fa-2x"></i></a>
	<a href="{{ .Site.BaseURL }}index.xml" rel="me" target="_blank"><i class="fa fa-rss-square fa-2x"></i></a>
</div>